[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/vim-session"]
	path = .vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
